html{
    width:auto;
    height:100%;
}
body{
    height: 100% !important;
}
.main{
    font-size: 4rem;
    font-weight: 600;
    color:white
}
.sub-main{
    color:white;
    font-weight: 500;
}


.first{
    height:100vh;
    background-image: linear-gradient(to right,  #433149, #7062b1);
    height:100%;
}