<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}" >
</head>
<body>
    <div class="container-fluid text-center first">
        <div class="  main">Sample Page</div>
        <div class="text-center sub-main mt-3">Today is: {{date}}</div>
        <div class="text-center mt-4">
            <img style = "max-width: 100%; max-height: 100%;"src="https://i.pravatar.cc/300">
        </div>
        <div class="mt-5">
            <a href = "https://picsum.photos/200/300" style="color:white; text-decoration: none;">Click this link to get random image</a>
        </div>

    </div>

</body>
</html>
